
@{
    ViewData["Title"] = "Index";
}




<div>
    @ViewBag.T1
    <br />
    @ViewBag.T2
    <br />
    <span>-----</span>
    @ViewBag.S1
    <br />
    @ViewBag.S2
    <span>----</span>
    <br />
    @ViewBag.SS1
    <br />
    @ViewBag.SS2
    <span>----</span>
</div>
